* {
  background-color: #efefef;
  color: #121212;
  border: 1px solid black;
  margin: 0;
}

h1 {
  font-size: 150px;
  width: 80%;
  margin: 20px auto;
}

h2 {
  font-size: 80px;
  width: 80%;
  margin: 40px auto;
  text-align: center;
}

p {
  font-size: 80px;
  text-align: center;
}
